.allP{
    font-family: 'TT Commons', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    width: 550px;
    max-width: 100%;
    margin: 0 auto 40px;
    color: #000;
}

.allButton{
    font-family: 'TT Commons', sans-serif;
    font-size: 18px;
    background: #6D3CC8;
           border: 1px solid #48258D;
           box-sizing: border-box;
           border-radius: 9px;
            color: white;
            padding: 20px 40px;
            margin-bottom: 40px;
        
}

.Imgedit{
    position: absolute;
    right: 20%;
     bottom: -280px;
}

#grad {
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(165, 134, 234, 0.1) 69.67%,
        rgba(152, 116, 231, 0.05) 93.45%);
    text-align: center;
    padding: 200px 0 50px;
    position: relative;
  }

  .heading{
     color: #04004D;
      font-family: 'TT Commons', sans-serif;
      font-weight: bold;
  }
  .heading1{
     color: #ffff;
      font-family: 'TT Commons', sans-serif;
      font-weight: bold;
  }
  .text{
    font-family: 'TT Commons', sans-serif;
 
  }
  .text1{
    font-family: 'TT Commons', sans-serif;
    color: #ffff;
 
  }


  /* ////////////////////////////////////////////////////////////// */

  #new {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/Group\ 2832.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
  }
  .card {
    width: 350px;
    /* padding: 20px; */
    border-radius: 17px;
    box-shadow: 2px 2px 4px rgba(77, 76, 76, 0.19);
    min-height: 470px;
  }
  #old {
    height: 590px;
    left: 4px;
    background: #421961;
  }
  .box {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    margin-bottom: 30px;
  }
  .vertical {
      border-left: 3px dotted rgb(255, 255, 255);
      height: 300px;
      position:absolute;
      left: 36%;
  }
  .vertical1 {
      border-left: 3px dotted rgb(255, 255, 255);
      height: 300px;
      position:absolute;
      left: 50%;
  }
  .vertical2 {
      border-left: 3px dotted rgb(255, 255, 255);
      height: 300px;
      position:absolute;
      left: 63%;
  }